@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
    --purple: #11101d;
    --red: rgba(255,66,66,1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.text-header {
    text-align: center;
}

.alertbox {
    position: fixed;
    right: 25px;
    bottom: 25px;
    background: var(--red);
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    opacity: 1;
    transition: opacity 0.6s;
    animation: slideInFromBottom 0.5s;
}

.alertbox p {
    font-size: 15px;
}

.alertbox .closebtn {
    font-size: 20px;
}

.alertbox .closebtn:hover {
    cursor: pointer;
}

/* left panel */

.leftpanel.flex {
    flex-direction: column;
    justify-content: space-between;
}

.leftpanel {
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    background: var(--purple);
    animation: animka 0.5s;
    display: none;
    z-index: 81;
    height: 100%;
}

.leftpanel .userlog {
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftpanel .navbar ul li a {
    color: white;
    display: flex;
    align-items: center;
    justify-self: center;
}

.leftpanel .navbar ul li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.leftpanel .navbar ul li {
    margin: 5px;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.leftpanel .navbar ul li i{
    margin: 0 10px 0 0;
}

.leftpanel .navbar {
    font-size: 20px;
}

.leftpanel .logo {
    background: rgba(255, 255, 255, 0.02);
    padding: 20px;
    color: white;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.leftpanel .logo i{
    font-size: 20px;
    cursor: pointer;
}

.leftpanel .logo h1{
    font-size: 25px;
    margin-right: 10px;
}

.leftpanel .userlog {
    background: rgba(255, 255, 255, 0.02);
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftpanel .userlog .user {
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftpanel .userlog i{
    color: white;
    font-size: 20px;
}

.leftpanel .userlog p{
    color: white;
    font-size: 19px;
}

.leftpanel .userlog img {
    height: 30px;
    width: 30px;
    margin-right: 5px;
    border-radius: 10px;
}

/* left panel mobile*/

.leftpanel-mobile.flex {
    flex-direction: column;
    justify-content: space-between;
}

.leftpanel-mobile {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 50px;
    background: var(--purple);
    animation: animka 0.5s;
    z-index: 81;
}

.leftpanel-mobile .navbar ul li a {
    color: white;
}

.leftpanel-mobile .navbar ul li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.leftpanel-mobile .navbar ul li {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftpanel-mobile .navbar {
    font-size: 20px;
    width: 100%;
}

.leftpanel-mobile .logo {
    background: rgba(255, 255, 255, 0.02);
    padding: 20px;
    color: white;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.leftpanel-mobile .logo i{
    font-size: 20px;
    cursor: pointer;
}

.leftpanel-mobile .userlog {
    background: rgba(255, 255, 255, 0.02);
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.leftpanel-mobile .userlog i{
    color: white;
    font-size: 20px;
}

.leftpanel-mobile .userlog img {
    height: 30px;
    width: 30px;
    border-radius: 10px;
}

/* main */

.main {
    /* position: absolute;
    left: 300px;
    width: calc(100% - 300px); */
    position: absolute;
    left: 50px;
    width: calc(100% - 50px);
    transition: all 0.5s;
    margin: 2rem 0;
    animation: 500ms ease 0s 1 slideInFromTop;
    z-index: 80;
}

.loginpanel {
    width: 100%;
}

.main.modalactive {
    opacity: 0.25;
}

.leftpanel-mobile.active ~ .main{
    /* position: absolute;
    left: 50px;
    width: calc(100% - 50px); */
    position: absolute;
    left: 300px;
    width: calc(100% - 300px);
}

/* stats */
.stats {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    margin: 2rem 0;
    gap: 30px;
    background: white;
    padding: 4rem;
    border-radius: 30px;
    /* border: 1px solid var(--purple); */
    box-shadow: 0px 5px 27px -3px rgba(0, 0, 0, 1);
}

.stats .card:nth-child(1) {
    background: linear-gradient(90deg, rgba(0,179,0,1) 0%, rgba(161,255,0,1) 100%);
    justify-self: right;
}

.stats .card:nth-child(2) {
    background: linear-gradient(90deg, rgba(255,66,66,1) 0%, rgba(255, 74, 74,1) 100%);
    justify-self: left;
}

.stats .card:nth-child(3) {
    background: linear-gradient(90deg, rgba(255,191,0,1) 0%, rgba(255,229,0,1) 100%);
    justify-self: right;
}

.stats .card:nth-child(4) {
    background: linear-gradient(90deg, rgba(112,112,112,1) 0%, rgba(186,186,186,1) 100%);
    justify-self: left;
}

.stats .card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    width: 100%;
    border-radius: 20px;
    border: 1px solid black;
    overflow: hidden;
}

.stats .card p {
    font-size: 25px;
}

.stats .card-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats .card-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* chart */

.chart {
    margin: 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 5px 27px -3px rgba(0, 0, 0, 1);
    padding: 20px;
}

/* stats-server */
.stats-server .stats {
    grid-template-rows: repeat(1,1fr);
}

/* footer */
.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: var(--purple);
    color: white;
    padding: 0.5rem 0;
}

.footer a {
    text-decoration: none;
    color: white;
    font-size: 0.80rem;
}

.footer .footer-text p:nth-child(1) {
    font-size: 1.5rem;
    text-align: center;
}

.footer .footer-text p:nth-child(2) {
    text-align: center;
}

/* inputs */
.inputs.loginpanel {
    position: fixed;
    top: 50%;
    margin: 0 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 50%;
    gap: 40px;
    transition: all 0.5s;
    animation: 500ms ease 0s 1 slideInFromTopLoginPanel;
}

.inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2rem 0;
    background: white;
    padding: 4rem;
    border-radius: 30px;
    box-shadow: 0px 5px 27px -3px rgba(0, 0, 0, 1);
    gap: 20px;
    z-index: 1;
}

.inputs form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: auto;
    text-align: center;
    border: 1px grey solid;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    transition: border 500ms;
    background: white;
    z-index: 2;
}

.inputs .inputs_type {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputs input[type='text'],
.inputs input[type='password'] {
    border: none;
    border-bottom: 2px grey solid;
    font-size: 1.2rem;
    text-align: center;
    margin: 0.5rem;
    padding: 10px;
    transition: background 500ms, border-bottom 500ms;
    background: whitesmoke;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    letter-spacing: 1px;
}

.inputs input[type='text']:focus,
.inputs input[type='password']:focus {
    outline: none;
    border-bottom: 2px var(--red) solid;
    transition: background 500ms, border-bottom 500ms;
    background: white;
}

.inputs input[type='submit'],
.inputs button {
    font-size: 1.1rem;
    margin: 1rem;
    padding: 0.75rem 2rem;
    border: none;
    letter-spacing: 1px;
    border: 1px solid var(--red);
    border-radius: 20px;
    transition: transform 200ms;
    box-shadow: 0px 5px 17px -3px rgba(0, 0, 0, 1);
    text-align: center;
}

.inputs input[type='submit']:hover,
.inputs button:hover {
    transform: scale(1.05);
    transition: transform 200ms;
    border: 1px solid var(--red);
    cursor: pointer;
}

.inputs form:focus-within {
    border: 1px solid var(--purple);
    transition: border 500ms, background 500ms;
}

/* serverusers */
.inputs.serverusers {
    display: grid;
    align-items: flex-start;
    justify-content: center;
    grid-template-columns: repeat(2,1fr);
    flex-direction: unset;
    line-height: 1.5rem;
}

.inputs.serverusers table {
    grid-column: 1 / span 2;
    text-align: center;
    width: 100%;
    display: grid;
}

.inputs.serverusers table tr {
    display: grid;
    align-items: center;
    justify-content: center;
}

.inputs.serverusers table:nth-of-type(1) tr {
    grid-template-columns: repeat(5,1fr);
}

.inputs.serverusers table:nth-of-type(2) tr,
.inputs.serverusers table:nth-of-type(3) tr,
.inputs.serverusers table:nth-of-type(4) tr {
    grid-template-columns: repeat(3,1fr);
}

.inputs.serverusers table:nth-of-type(5) tr {
    grid-template-columns: repeat(4,1fr);
}

.inputs.serverusers table:nth-of-type(6) tr {
    grid-template-columns: repeat(7,1fr);
    padding-bottom: 20px;
}

.inputs.serverusers table:nth-of-type(6) tr:last-of-type {
    grid-template-columns: repeat(7,1fr);
    padding-bottom: 0;
}

.inputs.serverusers table:nth-of-type(6) tr th:nth-of-type(2),
.inputs.serverusers table:nth-of-type(6) tr td:nth-of-type(2) {
    grid-column: 2 / span 4;
}

table td,
table th {
    overflow: hidden;
}

/* logs table */

.inputs.serverusers.logs table tr {
    grid-template-columns: repeat(7,1fr);
    padding-bottom: 20px;
}

.inputs.serverusers.logs table tr:last-of-type {
    padding-bottom: 0;
}

.inputs.serverusers.logs table tr th:nth-of-type(3),
.inputs.serverusers.logs table tr td:nth-of-type(3) {
    grid-column: 3 / span 4;
}

/* logs table end */

.inputs.serverusers table h2{
    text-align: center;
}

.inputs .playerstats h2 {
    text-align: center;
}

.inputs .playerstats .stat {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inputs .playerstats,
.inputs.serverusers table {
    border: 1px grey solid;
    border-radius: 20px;
    padding: 20px;
    transition: border 500ms;
    background: white;
}

.inputs .playerstats:hover,
.inputs.serverusers table:hover {
    transition: border 500ms;
    border: 1px solid var(--red);
}

/* about */

.main.about {
    height: 100vh;
    margin: auto;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 4rem;
}

.about .inputs a {
    text-decoration: none;
    color: black;
}

.about .inputs .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 35px;
}

.about .inputs p:nth-child(1) {
    color: black;
    font-size: 30px;
    display: inline-block;
    text-align: center;
}

.about .inputs p a:nth-child(1):after {
    display: block;
    content: '';
    border-bottom: solid 3px var(--red);  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

.about .inputs p a:nth-child(1):hover:after {
    transform: scaleX(1);
}

.about .inputs p a:nth-child(1):after{
    transform-origin: 0% 50%; 
}

.about .inputs a:after {
    display: block;
    content: '';
    border-bottom: solid 3px var(--red);  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

.about .inputs a:hover:after {
    transform: scaleX(1);
}

.about .inputs p:nth-child(3) {
    color: black;
    font-size: 20px;
    text-align: center;
}
